.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 3% auto;
    align-self: flex-start;
}

.navLink {
    padding: 10px;
    margin: 0 3px;
    background: #aaa;
    border-radius: 10px;
}


.cameraContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: 10px;
}

.cameraImage {
    width: 100%;
}

.cameraLabel {
    font-weight: bold;
}

.cameraSetContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cameraDetails {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.infoLabel {
    font-weight: bold;
}

#map {
    height: 400px;
    width: 650px;
}

.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.unselected {
    opacity: 30%;
}