:root {
    --nav-link-bg: rgba(80, 80, 80, 0.7);
    --nav-link-text: #ccc;
    --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 3% auto;
    justify-content: center;
}

.info {
    font-size: 13px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.navLink {
    padding: 8px;
    margin: 3px;
    background: var(--nav-link-bg);
    border-radius: 10px;
    text-decoration: inherit;
    font-weight: bold;
    color: var(--nav-link-text);
}

.button {
    margin: 0px 2px;
    background: var(--nav-link-bg);
    border-radius: 10px;
    text-decoration: inherit;
    font-weight: bold;
    color: var(--nav-link-text);
}

a:hover {
    color: #fff;
}


.cameraContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 10px;
}

.cameraImage {
    width: 100%;
}

.cameraLabel {
    font-weight: bold;
}

.cameraSetContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cameraDetails {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.infoLabel {
    font-weight: bold;
}

#map {
    height: 400px;
    width: 100%;
    max-width: 650px;
}

.unselected {
    opacity: 30%;
}

.title {
    font-size: 100px;
    margin: 20px auto;
}

@media (max-width: 600px) {
    .info {
        font-size: 11px;
    }

    .cameraLabel {
        font-size: 13px;
    }
}

@media (prefers-color-scheme: light) {
    a:hover {
        color: #666;
    }

    .navLink:hover {
        color: #EEE;
    }
}

@media (prefers-color-scheme: dark) {
    .leaflet-tile {
        filter: var(--leaflet-tile-filter, none);
    }

    .leaflet-container {
        background: #303030;
    }
}

.closedForm #formExpand~* {
    display: none;
}

.datetimeForm {
    margin-bottom: 20px;
}