:root {
    --nav-link-bg: rgba(80,80,80,0.7);
    --nav-link-text: #ccc;
}

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 3% auto;
    justify-content:center;
}

.info {
    font-size:13px;
}

a {
    text-decoration:inherit;
    color:inherit;
}

.navLink {
    padding: 10px;
    margin: 3px;
    background: var(--nav-link-bg);
    border-radius: 10px;
    text-decoration:inherit;
    font-weight:bold;
    color:var(--nav-link-text);
}

a:hover {
    color:#fff;
}


.cameraContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 10px;
}

.cameraImage {
    width: 100%;
}

.cameraLabel {
    font-weight: bold;
}

.cameraSetContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cameraDetails {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.infoLabel {
    font-weight: bold;
}

#map {
    height: 400px;
    width: 100%;
    max-width:650px;
}

.unselected {
    opacity: 30%;
}

.title {
    font-size: 100px;
    margin: 20px auto;
}

@media (max-width: 600px) {
    .info {
        font-size:11px;
    }
    .cameraLabel {
        font-size: 13px;
    }
}